.placing {
    display:flex;
    margin:1rem;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 0px 0px 15px 2px rgb(155, 151, 151);
}
.placing-img-container {
    position:relative;
    font-weight: bold;
}
.placing-img-container img {
    width:10vw;
    height:10vw;
    border-radius: 50%;
}
.placing-img-container p{
    position:absolute;
    font-size:30px;
    text-shadow: 0px 0px 2px #07356B;
    color:white;
    text-align: center;
    width: 100%;
}
.placing h4{
    font-size:30px;
    text-shadow: 0px 0px 2px #07356B;
    color:white
}
.placing:nth-child(1) p {
    color: rgb(245, 243, 112);
    text-shadow: 0px 0px 3px rgb(245, 243, 112);
}
.placing:nth-child(2) p{
    color: rgb(110, 142, 151);
    text-shadow: 0px 0px 3px  rgb(110, 142, 151);
}
.placing:nth-child(3) p{
    color: rgb(216, 122, 15);
    text-shadow: 0px 0px 3px rgb(216, 122, 15);
}


@media only screen and (max-width: 600px) {
    .placing-img-container img {
        width:15vw;
        height:15vw;
    }
    .placing h4, .placing-img-container p {
        font-size:20px
    }
}